i.iconfont.icon-github-fill{
    color: #24292e;
}
i.iconfont.icon-mail{
    color: #4a7dbe;
}
i.iconfont.icon-stack-overflow-fill{
    color: #f48024;
}
i.iconfont.icon-zhihu-fill{
    color: #056de8;
}
i.iconfont.icon-copyright{
    color: #fb5531;
}
i.iconfont.icon-bilibili{
    color: #fb7299;
}
i.iconfont.icon-google-fill{
    color: #ea4335;
}
i.iconfont.icon-kaggle{
    color: #20BEFF;
}
i.iconfont.icon-wechat-fill{
    color: #07c160;
}