name: Build And Deploy To GitHub Pages

on: 
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.12
          activate-environment: blog_dev
          environment-file: ./etc/environment.yml
      - name: Build
        shell: pwsh
        run: |
          npm ci && npm install -g hexo-cli
          pandoc -v
          pip list
          mkdir logs
          hexo clean
          hexo generate
      ## Upload to GitHub Pages
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: "public/"
      ## Upload to OSS
      - uses: manyuanrong/setup-ossutil@v2.0
        with:
          endpoint: ${{ secrets.OSS_ENDPOINT }}
          access-key-id: ${{ secrets.OSS_ACCESS_KEY_ID}}
          access-key-secret: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
          # sts-token:
        # https://help.aliyun.com/zh/oss/developer-reference/synchronize-local-files-to-oss?spm=a2c4g.11186623.0.i5
      - run: ossutil sync ./public/ oss://${{ secrets.OSS_BUCKET_NAME}}/ -f --delete
  deploy_to_github_pages:
    # Add a dependency to the build job
    needs: build_and_upload

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4 # or specific "vX.X.X" version tag for this action